.speech-input-group {
    position: relative;
}
#speech-status, #speech-status-modifier {
    font-size: 0.9em;
    margin-left: 10px;
}
.btn-outline-primary .fa-microphone,
.btn-outline-danger .fa-stop {
    margin-right: 5px;
}